<div class="card bg-light rounded-0 mb-4">
    <div class="card-body">
        <form action="/posts" method="GET" class="needs-validation" novalidate>
            <div>
                <h5><label for="search" class="card-title">Search</label></h5>
                <input type="text" id="search" name="search" class="form-control" value="" placeholder="Sport, etc ..." required>
            </div>
        </form>
    </div>
</div>
<div class="card bg-primary rounded-0 mb-4">
    <div class="card-body">
        <form action="/" method="POST" class="needs-validation" novalidate>
            <div>
                <h5 class="text-white"><label for="email" class="card-title">Newsletter Subsrcribe</label></h5>
                <input type="text" id="email" name="email" class="form-control" placeholder="xyz@domain" required>
            </div>
        </form>
    </div>
</div>