

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fs-7 {
    font-size: .75rem !important;
}
.btn-white {
    background-color: white;
}
.text-truncate-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


body {
    background-color: #EFF4F8;
}